
@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<nav class="black">
    <div class="nav-wrapper" style="display:flex;">
        <ul class="left hide-on-med-and-down" style="margin:0 auto;">
            <li><a href="/Admin/Clone?q=Report">Report</a></li>
            <li><a href="/Admin/Selection">Lista prodotti</a></li>
            <li><a href="/Admin/Clone?q=Test motori">Test motori</a></li>
            <li><a href="/Admin/Clone?q=Sistemi di pagamento">Sistemi di pagamento</a></li>
            <li><a href="/Admin/Clone?q=Gestione USB">Gestione USB</a></li>
            <li><a href="/Admin/Clone?q=Impostazioni">Impostazioni</a></li>
            <li><a href="/Admin/Clone?q=Ricette">Ricette</a></li>
        </ul>
    </div>
</nav>
<div class="container white">
    <div class="section">
        <h2 class="header center black-text" style="text-transform:uppercase;">@ViewBag.Header</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porttitor turpis sit amet dapibus dapibus. Suspendisse lobortis neque ipsum, nec luctus elit efficitur nec. Nam convallis metus aliquam lobortis mollis. Quisque nunc est, placerat id augue sed, auctor ultricies purus. Phasellus aliquet dolor in nisl scelerisque venenatis. Mauris vitae leo nec erat finibus dignissim. Quisque bibendum diam neque, et hendrerit augue rhoncus at. Suspendisse faucibus massa sed mauris vestibulum accumsan. Morbi eget enim id augue malesuada faucibus vel ut turpis. Maecenas tempor est nibh, nec luctus augue commodo ac. Phasellus ex lacus, mattis in efficitur sollicitudin, bibendum vitae mi. Mauris eget tincidunt odio. Curabitur molestie, sapien in congue luctus, nibh odio molestie arcu, eu dapibus neque dolor eu nibh. Donec erat magna, mattis aliquet sem non, egestas tincidunt urna. Integer nibh lectus, convallis eu nisl ac, faucibus luctus quam. Mauris facilisis varius sodales.
        </p>
    </div>
</div>
