
@{
    Layout = "_Admin";
}

<div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="input-field col s12 center">
                    <p class="center login-form-text">Inserire la password per accedere</p>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input id="password" name="password" type="password">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light col s12" type="submit" name="action">
                        LOGIN
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l6">
                </div>
                <div class="input-field col s6 m6 l6">
                </div>
            </div>
        }
    </div>

</div>
<div class="container">
    <div id="showKeyboard" class="hidden" style="margin-left:74px;">
        <ul id="keyboard">
            <li class="symbol">1</li>
            <li class="symbol">2</li>
            <li class="symbol">3</li>
            <li class="symbol">4</li>
            <li class="symbol">5</li>
            <li class="symbol">6</li>
            <li class="symbol">7</li>
            <li class="symbol">8</li>
            <li class="symbol">9</li>
            <li class="symbol">0</li>
            <li class="delete lastitem">delete</li>
            <li class="return lastitem">return</li>
            <li class="space lastitem"> </li>
        </ul>
    </div>
</div>


@section js {
    <script type="text/javascript">
        $(function () {
            $('body').addClass('cyan').css('{ display: table-cell; vertical- align: middle; }');
            $('#password').focusin(function () {
                $('#showKeyboard').removeClass('hidden');
            });

            $('#keyboard li.symbol, #keyboard li.letter, #keyboard li.space').click(function () {
                $('#password').focus();
                var content = $('#password').val();
                $('#password').val(content + $(this).html());
            });

            $('#keyboard li.delete').click(function () {
                var content = $('#password').val();
                $('#password').val(content.substring(0, content.length - 1));
            });

            $('#keyboard li.return').click(function () {
                $('#login-page form').submit();
            });
        });
    </script>
}