<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Area</title>
    <link type="text/css" rel="stylesheet" href="~/assets/css/materialize.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/custom.css?v=0.0.1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="section no-pad-bot" id="index-banner">
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/assets/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/assets/js/materialize.min.js"></script>
    @RenderSection("js", false)
</body>
</html>