<!DOCTYPE html>
<html>
<head>
    <title>Manea Test - @ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/assets/css/materialize.min.css" />
    <link type="text/css" rel="stylesheet" href="~/assets/css/custom.css?v=0.0.1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <header>
        @Html.Partial("/Views/Shared/_Navigation.cshtml")
    </header>
    <main>
        <div class="section no-pad-bot" id="index-banner">
            @RenderBody()
        </div>
    </main>
    <footer class="black">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li><img class="logo" src="~/assets/images/manea_1.png" alt="" /></li>
                                <li><a href="/Admin"><img class="logo" src="~/assets/images/pagita.png" alt="" /></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><p class="white-text" style="font-size:16px;">Manea e Pagita insieme per il vending del futuro. Puoi beneficiare dell'iperammortamento al 250% sul tuo investimento!</p></td>
                    </tr>
                </tbody>
            </table>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="~/assets/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/assets/js/materialize.min.js"></script>
    @RenderSection("js", false)
</body>
</html>