<nav class="black" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">CREDITO: <span class="credit">0.00</span >€</a>
    </div>
</nav>