@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(MaterialIcons-Regular.woff2) format('woff2'), url(MaterialIcons-Regular.woff) format('woff'), url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

    /* Rules for sizing the icon. */
    .material-icons.md-18 {
        font-size: 18px;
    }

    .material-icons.md-24 {
        font-size: 24px;
    }

    .material-icons.md-36 {
        font-size: 36px;
    }

    .material-icons.md-48 {
        font-size: 48px;
    }

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.4em;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    display:flex;
}

select {
    display: block;
}

.hidden {
    display: none;
}
tr, td, th {
border:0;
margin:0;
padding:0;
}
td, th {
padding:0;
text-align:center;
vertical-align:top;
}
nav a {
display:inline-block;
}
.row, .collection {
margin-bottom:0;
}
.section {
padding:0;
}
.section.step0 {
    height:900px;
}
#index-banner {
    width: 100%;
}
.collection {
    display:table;
    height:100%;
    width:100%;
}
.collection .collection-item {
    display:table-row;
    height:100%;
}
.banner {
    width:100%;
}
.esaurito {
    opacity: 0.5;
    cursor: default;
}
td.z-depth-2 {
    text-indent:-9999px;
}
footer {
    padding: 10px 0;
}
footer ul {
    margin:0;
}
footer p {
    margin:0;
}
footer ul li {
    display: inline-block;
}
    footer .logo {
        height:60px;
    }
    /* LOGIN */
    #login-page {
        margin-top: 100px;
        padding: 0 0.75rem;
        width: 300px;
    }

form {
    padding: 0px;
    border-radius: 3px;
    box-sizing: border-box;
}

#password {
    margin-left: 20px;
    margin-right: 20px;
}

/* KEYBOARD */
#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top:50px;
}

    #keyboard li {
        float: left;
        margin: 0 5px 5px 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #fff;
        border: 1px solid black;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

.clearLeft {
    clear: left;
}

#keyboard .delete {
    width: 70px;
}

#keyboard .return {
    width: 77px;
}

.lastitem {
    margin-right: 0;
}

#keyboard .space {
    clear: left;
    width: 601px;
}

#keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: gray;
    cursor: pointer;
}

/* TEXT FLASHING */
/*Be sure to look into browser prefixes for keyframes and annimations*/
.flash {
    animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {
        color: black;
    }

    to {
        color: #26a69a;
    }
}

@media only screen and (min-width: 601px) {
    .row .col.m5 {
        width: 20%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
}
@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}

.card .card-content {
    padding:24px 0;
}